{:deps
 {org.clojure/clojure {:mvn/version "1.10.0"}}

 :aliases
 {:infra
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}
   :extra-paths ["infra_scripts"]
   :main-opts ["--main" "infra.build"]}}}
